<md-button class="md-fab menu-btn" aria-label="Menu" ng-click="$parent.toggleSidebar()">
  <md-icon class="material-icons">menu</md-icon>
</md-button>
<section class="main-container md-padding" layout="row" layout-wrap layout-align="center start">
  <md-whiteframe class="md-whiteframe-18dp" flex="100" flex-sm="100" flex-xs="100" flex-md="50"  flex-lg="45" flex-xl="35"  layout="column">
    <h1>Murales La Plata</h1>
    <form ng-submit="$event.preventDefault()" name="searchForm">
      <div layout-gt-xs="row">
        <md-autocomplete flex required
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in murales | filter:searchText"
          md-item-text="item.name"
          md-min-length="0"
          md-floating-label="Buscar Mural">
          <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{ item.name }} - {{ item.address }}</span>
          </md-item-template>
        </md-autocomplete>
      </div>
    </form>
  </md-whiteframe>
</section>
<ui-gmap-google-map center="mapOptions.center" zoom="mapOptions.zoom" id="mainMap">
  <ui-gmap-markers models="murales" coords="'center'" title="'name'"
                   options="markerOptions" click="markerClick"></ui-gmap-marker>
</ui-gmap-google-map>
